{% extends "admin/base_site.html" %}
{% load i18n static %}

{# Django's password change page, laid out like the rest of the Tracker. #}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a> &rsaquo; Change password</div>{% endblock %}
{% block content_title %}<h1>Change password</h1>{% endblock %}

{% block content %}<div id="content-main">
<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
  <p class="errornote">{% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}</p>
{% endif %}

<fieldset class="module aligned">
  <h2 class="fieldset-heading">Your password</h2>
  <div class="description">Enter your current password, then your new one twice so we can check it was typed correctly.</div>

  <div class="form-row">
    <div>
      {{ form.old_password.errors }}
      <div class="flex-container"><label class="required" for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>{{ form.old_password }}</div>
    </div>
  </div>

  <div class="form-row">
    <div>
      {{ form.new_password1.errors }}
      <div class="flex-container"><label class="required" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>{{ form.new_password1 }}</div>
      {% if form.new_password1.help_text %}<div class="help" id="{{ form.new_password1.id_for_label }}_helptext">{{ form.new_password1.help_text|safe }}</div>{% endif %}
    </div>
  </div>

  <div class="form-row">
    <div>
      {{ form.new_password2.errors }}
      <div class="flex-container"><label class="required" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>{{ form.new_password2 }}</div>
      {% if form.new_password2.help_text %}<div class="help" id="{{ form.new_password2.id_for_label }}_helptext">{{ form.new_password2.help_text|safe }}</div>{% endif %}
    </div>
  </div>
</fieldset>

<div class="lf-form-actions">
  <a class="button" href="{% url 'admin:index' %}">Cancel</a>
  <button type="submit" class="lf-btn lf-btn--primary">Change password</button>
</div>
</div>
</form></div>
{% endblock %}
